.menu  {
    list-style: none;
    padding: 0;
    margin:0;
    background-color: #333;
}

.menu li a{
    color: #fff;
    display: block;
    text-decoration: none;
    padding: .5em 1;

}

@media screen and (min-width: 520px){
    .menu {
        display: flex;
    }
}